<div class="container text-center mt-5">
    <div class="card shadow-lg p-4">
      <h1 class="text-success">Merci pour votre commande !</h1>
      <p class="lead">Nous avons bien reçu votre commande et nous la préparons.</p>
      <p>Un e-mail de confirmation vous a été envoyé.</p>
  
      <div class="my-4">
        <img src="assets/images/thank-you.png" alt="Merci" class="img-fluid" style="max-width: 200px;">
      </div>
  
      <button class="btn btn-primary btn-lg" (click)="toHome()">
        Retour à l'accueil
      </button>
    </div>
  </div>