<div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-4 fw-bold">Bienvenue sur le site du チンチョング</h1>
        <p class="lead mt-3">Découvrez nos plats savoureux et faites-vous plaisir en commandant votre repas préféré !</p>
        
        <div class="mt-4">
          <img src="assets/restaurant.jpg" alt="Restaurant" class="img-fluid rounded shadow-lg">
        </div>
  
        <div class="mt-5">
          <a routerLink="/menu" class="btn btn-primary btn-lg">
            Voir le menu <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  