<div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-4 fw-bold">Bienvenue sur le site du チンチョング</h1>
        <p class="lead mt-3">Découvrez nos plats savoureux et faites-vous plaisir en commandant votre repas préféré !</p>
        
        <div class="mt-4">
          <img src="https://www.francetvinfo.fr/pictures/Oqploz1XX6BWtBsgSTgi2ttRhBE/1200x900/2023/02/03/63dccf604e859_053-ar-20200608100430-kinq1-cd0i1416-1-100428449.jpg" alt="Restaurant" class="img-fluid rounded shadow-lg">
        </div>
  
        <div class="mt-5">
          <a routerLink="/menu" class="btn btn-primary btn-lg">
            Voir le menu <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  