<p>forms works!</p>
<div class="row">
  <div class="col-12" *ngFor="let post of Posts">
    <div class="card mb-3">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column flex-grow-1">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="fw-bold text-primary">{{ post.username }}</span>
            <span class="text-muted small">{{ post.date | date:'short' }}</span>
          </div>
          <p class="card-text">{{ post.article }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<form *ngIf="isLoggedIn" (ngSubmit)="addPost()">
    <label for="postContent">Nouveau Post:</label>
    <input id="postContent" type="text" [(ngModel)]="newPostContent" name="postContent" required>
    <button type="submit" [disabled]="!newPostContent">Ajouter</button>
</form>
<div *ngIf="!isLoggedIn">
    <p>Veuillez vous connecter pour ajouter un post.</p>
</div>
